/.idea/
/pg_docker_compose/postgres-data/
/running_pg_in_docker/3. Where is my data/pgdata/
/running_pg_in_docker/4. Healthcheck and limits/pgdata/
/running_pg_in_docker/5. Tuning parameters/pgdata/
/running_pg_in_docker/6. UI via pgAdmin/pgadmin/
/running_pg_in_docker/6. UI via pgAdmin/pgdata/
/running_pg_in_docker/7. Monitoring with postgres_exporter/pgdata/
/running_pg_in_docker/7. Monitoring with postgres_exporter/pgadmin/
